<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true" xmlns="http://logging.apache.org/log4j/2.0/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config 
           https://raw.githubusercontent.com/apache/logging-log4j2/master/log4j-core/src/main/resources/Log4j-config.xsd">

	<Properties>
		<Property name="logPath" value="${sys:webapp.root}/WEB-INF/log" />
	</Properties>

	<Appenders>

		<!-- console -->
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%t] %-32c{1.}: %m%n</Pattern>
			</PatternLayout>
		</Console>

		<!-- the appng.log -->
		<RollingFile name="appng" fileName="${logPath}/appNG.log" filePattern="${logPath}/appNG.%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%t] %-32c{1.}: %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

		<!-- the scheduler.log -->
		<RollingFile name="scheduler" fileName="${logPath}/scheduler.log" filePattern="${logPath}/scheduler.%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%t] %-32c{1.}: %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

		<!-- the redirect.log -->
		<RollingFile name="redirect" fileName="${logPath}/redirect.log" filePattern="${logPath}/redirect.%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d{ISO8601} %-5p [%t] %-32c{1.}: %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>

		<!-- log quartz to scheduler.log -->
		<Logger name="org.quartz" additivity="false" level="info">
			<AppenderRef ref="scheduler" />
		</Logger>

		<!-- log URL rewrits to redirect.log -->
		<Logger name="org.tuckey" additivity="false" level="info">
			<AppenderRef ref="redirect" />
		</Logger>

		<Root level="info">
			<AppenderRef ref="appng" />
			<!-- uncomment to log to console -->
			<!--AppenderRef ref="stdout" /-->
		</Root>
	</Loggers>
</Configuration>
        