<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true">

	<display-name>appNGizer - the REST based appNG remote control</display-name>

	<servlet>
		<servlet-name>appNGizer</servlet-name>
		<servlet-class>org.appng.appngizer.controller.AppNGizerServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/appNGizer-servlet.xml</param-value>
		</init-param>
		<init-param>
			<param-name>APPNG_HOME</param-name>
			<param-value>${appNGHome}</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>appNGizer</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.appng.appngizer.controller.AppNGizer</listener-class>
	</listener>

	<!-- BEGIN BASIC AUTH -->
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>appNGizer</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>appNGizer</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>appNGizer</realm-name>
	</login-config>  -->
	<!-- END BASIC AUTH -->

	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>org.appng.appngizer.controller.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>