<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="http://www.appng.org/schema/platform" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.appng.org/schema/platform http://www.appng.org/schema/platform/appng-platform.xsd">

	<event id="employeeEvent">
		<config></config>

		<action id="create">
			<config></config>
			<datasource id="employee" />
			<bean id="employees" />
		</action>

	</event>

</events>
